<h2>The Team</h2>
<% @team.each do |member| %>
  <div class="row-fluid">
    <div class="span2">
      <%= image_tag(member.avatar.url(:small)) %>
      <h4><%= member.name %></h4>
      <% if member.roles.last.name == 'admin' %>
        <h5>Co-organizer</h5>
      <% else %>
        <h5><%= member.roles.last.name.titleize %></h5>
      <% end %>
    </div>
    <div class="span10">
      <p><%= raw(member.bio) %></p>
    </div> 
  </div>
<% end %>