<% content_for :masthead do %>
  <header id="main-header">
  	<div class="container">
  	  <div class="row">
  	   <div class="span12">
  	      <%= image_tag("RG_LogoFinal.png", :class => "header-image") %>
  	    </div> 
  	  </div>
  	</div>
  </header>
<% end %>
<section id="landing">
  <div class="container">
    <h3>Improving opportunities for women in technology</h3>
  </div>
</section>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <p>Rails Girls events are non-profit. We don’t charge the participants and do not pay for coaches or speakers. Participants don’t need any previous knowledge about programming and there are no age limitations. All the participants need is a laptop and some curiosity.</p>
      <p>The two-day event includes a lot of small group working and short focused talks on programming, design and web. </p>
    </div>
  </div>
</div>
