<h1>Sponsors</h1>
<% @sponsors.each_slice(2) do |slice| %>
  <div class="row-fluid">
    <% slice.each do |s| %>
      <div class="span6">
        <h3><%= link_to image_tag(s.logo.url(:medium), alt: s.name), sponsor_path(s), :class => "sponsor" %></h3>
        <p><%= raw(s.description) %></p>
      </div>
    <% end %>
  </div>
<% end %>