<main role="main">
  <%= render 'layouts/messages' %>
  <div class="container">
    <div class="content">
     	<div class="row">
      	<div class="span12">
          <!-- List Section -->
          <section id="list">
            <div class="container">
              <header class="body-header">
                <h2>About</h2>
                <h4>Rails Girls philosophy</h4>
              </header>
              <article>
                <div class="list-row cf">
                  <div class="list-item">
                    <i class="fa fa-bullhorn fa-2x"></i>
                    <h3>We're not boring</h3>
                    <p>Show sparks, personality and keep in mind the big picture. Explain, repeat and always tie what you're telling into a larger context.</p>
                  </div>
                  <div class="list-item">
                    <i class="fa fa-code-fork fa-2x"></i>
                    <h3>We're all human</h3>
                    <p>Internet was made by people and it doesn’t break by a little tinkering. Continuously show the human side: encourage coaches to talk about open source communities, their programming idols and their aspirations.</p>
                  </div>
                </div>
                <div class="list-row cf">
                  <div class="list-item">
                    <i class="fa fa-bolt fa-2x"></i>
                    <h3>Build it and learn</h3>
                    <p>Copy-pasting rules. Programming per se isn’t central - you can't really learn to speak Chinese in one day, in a similar manner you can only learn the basic vocabulary and expressions in coding. The goal of every event is to make something visible!</p>
                  </div>
                  <div class="list-item">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <h3>All are welcome</h3>
                    <p>Girls run this world! But also women, ladies, even boys are allowed in. More than semantics we're interested in a mindset. Both founders were born in the Spice Girls era, they don't see the word girl as condescending or cutesy-cute.</p>
                  </div>
                </div>
              </article>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>